body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
	margin-top: 100px;
}

.main-link-navbar:link ,.main-link-navbar:hover, .main-link-navbar:active, .main-link-navbar:visited {
    text-decoration: none;
    color: inherit;
}


.text-heading {
	margin-top: 10px;
	margin-bottom: 25px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.title-cagnotte {
	padding: 30px;
}

.infos-cagnotte {
	padding: 20px;
}

.montant-cagnotte, .contributions-cagnotte {
	margin-bottom: 30px;
}

.actions-cagnotte {
	margin-top: 25px;
}

.display-contributions, .list-contributions {
	margin-top: 35px;
}